data/clair_de_lune/inputs/*
!data/clair_de_lune/inputs/0000.wav
data/green_light/inputs/*
!data/green_light/inputs/0000.wav
data/jolene/inputs/*
!data/jolene/inputs/0000.wav
data/la_vie_en_rose/inputs/*
!data/la_vie_en_rose/inputs/0000.wav
data/money_machine/inputs/*
!data/money_machine/inputs/0000.wav
data/novacane/inputs/*
!data/novacane/inputs/0000.wav
data/rhyme_dust/inputs/*
!data/rhyme_dust/inputs/0000.wav
data/the_chain/inputs/*
!data/the_chain/inputs/0000.wav

data/clair_de_lune/clair_de_lune.wav
data/green_light/green_light.wav
data/jolene/jolene.wav
data/la_vie_en_rose/la_vie_en_rose.wav
data/money_machine/money_machine.wav
data/novacane/novacane.wav
data/rhyme_dust/rhyme_dust.wav
data/the_chain/the_chain.wav

acr/acrcloud/__pycache__/
acoustid/pyacoustid/__pycache__/

acoustid/chromaprint/

google

*.png
*.pdf
*.xlsx
*.docx

.vscode/

data/mp3_samples/